* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background image on main */
.mainpage {
  background-image: url("../img/meatsign.jpg");
  background-size: cover;
  background-attachment: fixed;
}


li,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

label {
  color: white;
}

span {
  color: beige;
}


/* Little blog about the company revise */
.container2 {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  height: 15%;
  background-color: transparent;
  color: white;
  transform: translate(-50%, -50%);
}


span.name {
  font-weight: bold;
  color: rgb(250, 0, 0);
}

/* Nav header styling */
header {
  background: #352d3a;
  width: 100%;
  padding: 40px 0;
  color: rgb(241, 18, 18);
  text-align: center;
}

nav {
  width: 100%;
  background: aqua;
  text-align: center;
}

/* Navbar centered */
ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* Nav bar size */
ul li {
  display: inline-block;
  padding: 20px;
}

/* button hover transparents */
ul li:hover {
  background: rgb(0, 0, 0, 0.3);
}

/* Nav font color */
ul li a {
  color: #111;
  text-decoration: none;
}

/* Sticky Header */
.sticky {
  position: sticky;
  top: 0;
}

.menu {
  width: 100%;
  padding: 10px 20px;
  background: aqua;
  text-align: right;
  color: black;
  font-size: 30px;
  display: none;
  cursor: pointer;
}

/*------------Gallery background picture--------------*/
.gallery2 {
  background-image: url(../img/meats.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* Gallery fonts styling */
#content :not(h2) {
  font-style: italic;
  color: rgb(199, 0, 0);}

.containergallery {
  text-align: center;
  padding: 12px 24px 24px 24px;
	margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: rgb(255,250,250, .1);
  width: 600px;
  height: 140px;
  }


/*---------- Image slider in gallery------------ */

.slider {
  width: 500px;
  height: 300px;
  background-color: rgb(247, 247, 242);
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  text-align: center;
  overflow: hidden;
}

.image-container {
  width: 2500px;
  height: auto;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slide-1:target~.image-container {
  left: 0px;
}

#slide-2:target~.image-container {
  left: -500px;
}

#slide-3:target~.image-container {
  left: -1000px;
}

#slide-4:target~.image-container {
  left: -1500px;
}

#slide-5:target~.image-container {
  left: -2000px;
}


.buttons {
  position: relative;
  top: -25px;
}

.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: rgb(255, 0, 0, .75);
}

/* Fixed footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: aqua;
  font-weight: bold;
  font-style: italic;
  color: #111;
}

/*-----------Contact page---------------*/
*:focus {
	outline: 0;
}

.contactpage {
	background-image: url(../img/rackofmeats.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

h3 {
	text-align: center;
  color: white;
}
.red {
  color: red;
}

.container {
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	background: rgb(135,206,250, .2) ;
	border-radius: 4px;
}

label {
	font-size: 0.85em;
	margin-left: 12px;
  color: white;
}

input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid red;
}

input[type=submit] {
	background: red;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

input[type=submit]:hover {
	background: #2196F3;
}

.center {
	text-align: center;
}
/*------------Mediaquery--------------*/

@media (min-width: 1200px) and (max-width: 465px) {
  .menu {
    display: block;
  }

  nav {
    background: white;
    color: black;
  }

  nav ul {
    width: 100%;
    display: none;
  }

  nav ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}

